{% if app.user %}
	<div class="user_profile">
		<div class="profile_image">
			<img src="{{ app.user.getProfileImage() }}" title="{{ app.user }}"/>
		</div>
		<div class="user_info smaller">
			<div>Hi, <a href="{{ path('odl_auth_user_profile', {'userId': app.user.getId()}) }}">{{ app.user }}</a></div>
			<div><a href="javascript:void(0)" onclick="auth.logout()">Logout</a></div>
		</div>
	</div>
{% else %}
	{% spaceless %}
{#
		<a href="{{ path('odl_auth_auth_login') }}">Login</a> / 
		<a href="{{ path('odl_auth_auth_register') }}">Register</a> / 
#}
		<a href="javascript:void(0)" onclick="auth.fbLogin()">Facebook Connect</a>
	{% endspaceless %}
{% endif %}
